<h1>Listing authors</h1>
 
<p>Click <%= link_to 'here', new_author_path %> to create a new author </p>

<table>
  <tr>
    <th>Full name</th>
    <th>Homepage</th>
  </tr>

  <% @authors.each do | author | %>
    <tr>
      <td><%= link_to author.name, author_path(author) %></td>
      <td><%= link_to author.homepage, author.homepage %></td>
      <td><%= link_to "Edit", edit_author_path(author) %></td>
    </tr>
  <% end %>


</table>