<h1>Editing Paper</h1>

<%= render 'form', paper: @paper %>

<%= select('post', 'author_ids',
           options_from_collection_for_select(Author.all, :id, :name, @paper.author_ids),
           {}, multiple: true, size: 10)%>
           
<%= link_to 'Show', @paper %> |
<%= link_to 'Back', papers_path %>
